<footer>
    <div>
        <button>Home</button>
        <button>Login</button>
        <button>SignUp</button>
        <button>Watch</button>
        <button>Password</button>
        <button>Draw</button>
    </div>
</footer>