<footer>
    <div class="footerContainer">
        <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
        <a href="/signUp"><i class="fas fa-user-plus"></i></a>
        <a href="/"><i class="fas fa-house-user"></i></a>
        <a href="/watch"><i class="fas fa-glasses"></i></a>
        <a href="/draw"><i class="fas fa-pencil-ruler"></i></a>
        {{!-- <button>Password</button> --}}
    </div>
</footer>