<footer>
    <div class="footerContainer">
        <a href="/login">login<i class="fas fa-sign-in-alt"></i></a>
        <a href="/signUp">signup<i class="fas fa-user-plus"></i></a>
        <a href="/">Test<i class="fas fa-house-user"></i></a>
        <a href="/watch">watch<i class="fas fa-glasses"></i></a>
        <a href="/draw">draw<i class="fas fa-pencil-ruler"></i></a>
        {{!-- <button>Password</button> --}}
    </div>
</footer>