<div>

    <head>
        <link rel="stylesheet" href="../Desktop/styles.css">
    </head>

    <header>
        <div>
            <button><a></a>Home</button>
            <button><a></a>Login</button>
            <button><a></a>SignUp</button>
            <button><a></a>Watch</button>
            <button><a></a>Password</button>
            <button><a></a>Draw</button>
        </div>
        <div id="headerTag"></div>
    </header>
</div>