{{> header}}
<div class="card">
<form id="login-form">
      {{!-- <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username"><br>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit"> --}}
    </form>
    </div>

<main>
        <section class="welcome">
        
            <img src="./images/ladybug.png" class="float-left" id="hpImg1">
            <h2>Who are we?</h2>
            <p>
            We are KidTastic, we were formed in December of 2020 with the goal of keeping our kids busy while we code. Here you will find fun activities your child can keep occupied while not having to worry about your child going down a huge rabbit hole on YouTube. We offer free videos, games, and books for your child's needs to keep busy and happy.
            </p>
        </section>
      
        <section class="welcome">
            <img src="./images/dexter.jpg" alt="We care about your safety" class="float-right" id="hpImg1">
            <h2>Why We Care</h2>
            <p>
                The web is full of opinions, and some of these can be negative. We at KidTastic want to ensure that your child is taken care of in the safest way possible. That's why we we've handpicked over a dozen entertaining videos that your child can watch, and provide other entertainment options when the videos get boring. All for free.
            </p>
        </section>
        <section class="welcome">
            <img src="./images/peppa.jpg" alt="Just a few clicks away" class="float-left" id="hpImg1">
            <h2>Awesome-ness is just a few steps away.</h2>
            <p>
                 KidTastic offers free services for anyone under the ages of 14. We believe in education and offering the right services for your child to grow and succeed in the best way possible.{{!-- NEEDS WORK --}}
            </p>
        </section>
    </main>
</section>
{{> footer}}