<h1>Who are we?</h1>
<p>We are KidTastic, we were formed in December of 2020 with the goal of keeping our kids busy while we code. Here you will find fun activities your child can keep occupied while not having to worry about your child going down a huge rabbit hole on YouTube. We offer free videos, games, and books for your child's needs to keep busy and happy.</p>

