{{> header}}
<link rel="stylesheet" href="/css/styles.css">
{{!-- 'homelandbodybackground.css' IS CSS FOR HOMELAND ONLY --}}
<link rel="stylesheet" href="/css/homelandbodybackground.css">
<link href="/css/hover.css" rel="stylesheet" media="all">
<div class="card">
<form id="login-form">
      {{!-- <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username"><br>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit"> --}}
    </form>
    </div>

<main>
    {{!-- JERRY RIGHTSIDE --}}
    <img src="./images/Jerry_Mouse.png" class="float-right hvr-sink">
    {{!-- LADYBUG LEFTSIDE --}}
    <img src="./images/lady.png" class="float-left hvr-float-shadow" style="max-height: 35vw;">
    {{!-- KIDTASTIC LOGO --}}
    <img src="./images/KidTastic1.png" class="hvr-skew" id="kiddie">

        {{!------ - First paragraph --------}}
        <section class="welcome1">
            <img src="./images/hero.gif" class="float-left hvr-grow-rotate" id="hpImg1">
                <h2>Who are we?</h2>
                    <br>
                        <p>
                            We are KidTastic, we were formed in December of 2020 with the goal of creating free entertainment for kids of all ages. Our robust website will surely keep you satisfied for hours on end.
                        </p>
        </section>
        {{!------ Second paragraph --------}}
        <section class="welcome2">
            <img src="./images/spongebob.gif" alt="We care about your safety" class="float-right hvr-grow-rotate" id="hpImg1">
                <h2>KidTastic Watch</h2>
                    <br>
                        <p>
                            Youtube can be strange at times. Finding certain episodes and shows is pretty hard nowadays in 2021. That's why we we've handpicked over a dozen entertaining videos to watch and listen from KidTastic Watch (powered by YouTube), and provide other entertainment options when the videos get boring. All for free.
                        </p>
        </section>
        {{!------ Third paragraph -------}}
        <section class="welcome3">
            <img src="./images/creating.gif" alt="We care about your safety" class="float-right hvr-grow-rotate" id="hpImg1">
                <h2>KidTastic Draw</h2>
                    <br>
                        <p>
                            Our KidTastic Draw application is awesome! Come check it out and explore different creations!
                        </p>
        </section>
        {{!------ Fourth paragraph -------}}
        <section class="welcome4">
            <img src="./images/iceman.gif" alt="Just a few clicks away" class="float-left hvr-grow-rotate" id="hpImg1">
                <h2>Awesome-ness is just a few clicks away.</h2><br>
                    <p>
                        KidTastic's services are completely free and no credit/debit card is required to create or watch on our platform. All you need to do is create an account and get started! <a href="/signup">Click here</a> to get started!{{!-- NEEDS WORK --}}
                    </p>
        </section>
</main>
{{> footer}}
