<link rel="stylesheet" href="/css/styles.css">
{{>header}}
<div class="SignUpcontainer">
<h1>Sign Up</h1>
<p>Fill out this form with a parent to get started!</p>
<br>
<h4>Name</h4>
<input type="text" placeholder="Full Name">
<br>
<br>
<h4>Parents Email</h4>
<input type="text" placeholder="Parents E-mail">
<br>
<br>
<h4>Password</h4>
<input id="userPw" type="password" placeholder="4-12 characters">
<br>
<br>
<h4>Birthday: </h4>
<input type="date" id="birthday" name="birthday">
<br><br>
<button>Sign Up!</button>
</div>
{{> footer}}



