body {
    background: linear-gradient(-45deg, #f0f19d, rgb(235, 168, 226), #7bcbeb, rgba(161, 240, 210, 0.548));
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
  }
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}