.SignUpcontainer {
  text-align: center;
  
}

button:hover {
  border-style: inset;
}

#copyright {
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-color:#d5e8f2;
}

#partialHeader {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(90deg, red, orange, #e6df81, green, blue, purple);
  color: #ffffff;
  margin-bottom: 10px;
  border: groove black 4px;
}

.float-left {
  float: left;
  margin-right: 25px;
}
.float-right {
  float: right;
  margin-right: 25px;
}

.welcome1 {
  margin-top: 5vw;
  margin-right: 20vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: dodgerblue;
  color: #ffffff;
  border-radius: 15px;
  border: double 20px rgb(240, 174, 218);
}
.welcome2 {
  margin-right: 5vw;
  margin-left: 20vw;
  margin-bottom: 5vw;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#5a92ed;
  color: #ffffff;
  border-radius: 25px;
  border: double 20px white;
}
.welcome3 {
  margin-right: 20vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: dodgerblue;
  color: #ffffff;
  border-radius: 20px;
  border: double 20px rgb(240, 174, 218);
}
.welcome4 {
  margin-right: 5vw;
  margin-left: 20vw;
  margin-bottom: 5px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #5a92ed;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 5vw;
  border: double 20px white;
}

  .headerContainer {
    display: flex;
    justify-content: space-around;
    color: black;
    background: linear-gradient(90deg, red, orange, #e6df81, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .footerContainer:hover {
    color: transparent;
    transition: 500ms ease;
  }
  a {
    color: white;
  }
  .welcome {
    border-radius: 7px;
  }

#hpImg1 {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.81); 
   box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.81);
   max-height: 200px;
    border-radius: 5px;
    max-width: 250px;
}

#homepage{
  display: inline-block;
  font-size: 15 px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
  color: white;
  background-color: green;
  text-align: center;
}
#kiddie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#partition {
  margin: 10px 43.5% 0px 0;
}