.SignUpcontainer {
  text-align: center;
  
}

button:hover {
  border-style: inset;
}

#copyright {
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-color:#d5e8f2;
}

#partialHeader {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(90deg, red, orange, #e6df81, green, blue, purple);
  color: #ffffff;
  margin-bottom: 10px;
  border: groove black 4px;
}

.float-left {
  float: left;
  margin-right: 25px;
}
.float-right {
  float: right;
  margin-right: 25px;
}

.welcome1 {
  margin-top: 5vw;
  margin-right: 20vw;
  margin-left: 5vw;
  margin-bottom: 3vw;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: dodgerblue;
  color: #ffffff;
  border-radius: 15px;
  border: double 20px rgb(240, 174, 218);
}
.welcome2 {
  margin-right: 5vw;
  margin-left: 20vw;
  margin-bottom: 3vw;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#5a92ed;
  color: #ffffff;
  border-radius: 25px;
  border: double 20px white;
}
.welcome3 {
  margin-right: 20vw;
  margin-left: 5vw;
  margin-bottom: 3vw;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: dodgerblue;
  color: #ffffff;
  border-radius: 20px;
  border: double 20px rgb(240, 174, 218);
}
.welcome4 {
  margin-right: 5vw;
  margin-left: 20vw;
  margin-bottom: 5px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #5a92ed;
  color: #ffffff;
  border-radius: 20px;
  margin-bottom: 5vw;
  border: double 20px white;
}

  .headerContainer {
    display: flex;
    justify-content: space-around;
    color: black;
    background: linear-gradient(90deg, red, orange, #e6df81, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .footerContainer:hover {
    color: transparent;
    transition: 500ms ease;
  }
  a {
    color: white;
  }
  .welcome {
    border-radius: 7px;
  }

#hpImg1 {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.81); 
   box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.81);
   max-height: 200px;
    border-radius: 5px;
    max-width: 250px;
}

#homepage{
  display: flex;
  /* justify-content: center; */
  flex-direction:column;
  align-content:space-between;
  font-size: 15px;
  border: 5px dotted rgb(198, 235, 151);
  border-radius: 5px;
  margin-left: 7vw;
  margin-right: 7vw;
  padding: 30px;
  color: white;
  background-color: green;
  text-align: center;
  margin-bottom: 15px;
}
#kiddie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#partition {
  margin: 10px 43.5% 0px 0;
}

.form-style-3{
	max-width: 650px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 17px;
	/* text-shadow: 1px 1px 1px rgb(125, 245, 155); */
}
.form-style-3 fieldset{
	border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
  border: 7px double rgb(109, 104, 104);
	padding: 20px;
	background: #109f67;
	/* box-shadow: inset 0px 0px 15px #2c03c0;
	-moz-box-shadow: inset 0px 0px 15px #2c03c0;
	-webkit-box-shadow: inset 0px 0px 15px #2c03c0; */
}
.form-style-3 fieldset legend{
	color: rgb(0, 165, 55);
	border-top: 1px solid rgb(109, 104, 104);
	border-left: 1px solid rgb(109, 104, 104);
	border-right: 1px solid rgb(109, 104, 104);
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 18px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 input[type=password],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #185f44;
	outline: none;
	color: #109f67;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: white;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}

.styleBtn {
	background-color:#c62d1f;
	border-radius:4px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:4px 17px;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
}
.styleBtn:hover {
	background-color:#f24437;
}
.styleBtn:active {
	position:relative;
	top:1px;
}


